* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;

}

a {
    text-decoration: none;

    color: rgb(0, 0, 0);
}

li {
    list-style: none;
}

h1,
h2 {
    color: black;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

h3 {
    color: rgb(37, 33, 33);
}
h4{
    color: rgb(31, 184, 51);
}

.btn {
    background: #398bd8;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10%;
    
}



.container{

    border:1px solid #333; 
    border-radius:5px; 
    padding:16px;
}
















